@using Coldairarrow.Entity.LuTuTravel;
@using Coldairarrow.Util;
@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";

    var obj = (product_coupons)Model;
    var objStr = Html.Raw(obj.ToJson());
}
<form id="dataForm" enctype="multipart/form-data" class="easyui-form" method="post" data-options="novalidate:true">
    <table class="table_base">
        <colgroup>
            <col style="width:80px;" />
        </colgroup>
        <tbody>

            <tr>
                <th>优惠券名称</th>
                <td>
                    <input name="coupons_name" value="@obj.coupons_name" class="easyui-textbox" data-options="width:'50%',required:true,validType:'length[0,50]'">
                </td>
            </tr>
            <tr>
                <th>优惠券金额</th>
                <td>
                    <input name="coupons_money" value="@obj.coupons_money" class="easyui-numberbox" data-options="width:'50%',required:true,min:0,max:100000">
                </td>
            </tr>
            <tr>
                <th>消费满减金额限制</th>
                <td>
                    <input name="coupons_limit" value="@obj.coupons_limit" class="easyui-numberbox" data-options="width:'50%',required:true,min:0,max:100000">
                </td>
            </tr>
            <tr>
                <th>可消费类型</th>
                <td>
                    <input name="coupons_type" value="@obj.coupons_type" class="easyui-combobox"
                           data-options="width:'50%',required: true,multiple:true,editable:false,
                                           valueField: 'value',
		                                   textField: 'label',
                                            data: data_coupons_name">
                </td>
            </tr>
            <tr>
                <th>发放渠道</th>
                <td>
                    <input name="coupons_ditch" value="@obj.coupons_ditch" class="easyui-combobox"
                           data-options="width:'50%',required:true,multiple:true,editable:false,
                                           valueField: 'value',
		                                   textField: 'label',
                                            data: data_coupons_ditch">
                </td>
            </tr>
            <tr>
                <th>发放张数</th>
                <td>
                    <input name="coupons_num" value="@obj.coupons_num" class="easyui-numberbox" data-options="width:'50%',required:true,min:0,max:100000">
                </td>
            </tr>
            <tr>
                <th>过期时间</th>
                <td>
                    <input name="overdue_time" value="@obj.overdue_time" class="easyui-datebox" data-options="width:'50%',required:true">
                </td>
            </tr>
        </tbody>
    </table>
</form>
@section foottoolbar{
    <a id="saveForm" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
}
<script>
    var rootUrl = '@Url.Content("~/")';
    var theEntity = @objStr;

    var data_coupons_name = [{ label: '门票', value: '0' }, { label: '线路', value: '1' }];
    var data_coupons_ditch = [{ label: '分享程序', value: '0' }, { label: '分享界面', value: '1' }, { label: '分款之后', value: '2' }, { label: '首次注册', value: '3' }, { label: '分享优惠券好友领取', value: '4' }];

    $(function () {
        $('#saveForm').click(function () {
            if (!$('#dataForm').form('enableValidation').form('validate'))
                return;

            var formValues = $('#dataForm').getValues();
            $.extend(theEntity, formValues);
            $.postJSON(rootUrl + 'LuTuTravel/product_coupons/SaveData', theEntity, function (resJson) {
                if (resJson.Success) {
                    parent.dialogMsg('保存成功!');
                    parent.$('#dataTable').datagrid('clearChecked').datagrid('reload');
                    parent.dialogClose('form');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    });
</script>
