@using Coldairarrow.Entity.LuTuTravel;
@using Coldairarrow.Util;

@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";

    var obj = (members_audit)Model;
    var objStr = Html.Raw(obj.ToJson());
}

<form id="dataForm" enctype="multipart/form-data" class="easyui-form" method="post" data-options="novalidate:true">
    <table class="table_base">
        <colgroup>
            <col style="width:80px;" />
        </colgroup>
        <tbody>
            <tr>
                <th>小程序会员表id</th>
                <td>
                    <input name="member_id" value="@obj.member_id" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>发起人手机号</th>
                <td>
                    <input name="phone" value="@obj.phone" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>群图片</th>
                <td>
                    <input name="image_group" value="@obj.image_group" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>群名称</th>
                <td>
                    <input name="image_group_name" value="@obj.image_group_name" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>0 待审核 1审核通过 3审核拒绝</th>
                <td>
                    <input name="status" value="@obj.status" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>邀请码</th>
                <td>
                    <input name="invite_code" value="@obj.invite_code" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
        </tbody>
    </table>
</form>

@section foottoolbar{
    <a id="saveForm" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
}

<script>
    var rootUrl = '@Url.Content("~/")';
    var theEntity = @objStr;

    $(function () {
        $('#saveForm').click(function () {
            if (!$('#dataForm').form('enableValidation').form('validate'))
                return;

            var formValues = $('#dataForm').getValues();
            $.extend(theEntity, formValues);
            $.postJSON(rootUrl + 'LuTuTravel/members_audit/SaveData', theEntity, function (resJson) {
                if (resJson.Success) {
                    parent.dialogMsg('保存成功!');
                    parent.$('#dataTable').datagrid('clearChecked').datagrid('reload');
                    parent.dialogClose('form');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    });
</script>
