@using Coldairarrow.Entity.LuTuTravel;
@using Coldairarrow.Util;
@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
    var ImagesDatas1 = (List<ImagesData>)(ViewData["ImagesDatas1"]);

    var obj = (dictionary)Model;
    var objStr = Html.Raw(obj.ToJson());
}
<form id="dataForm" enctype="multipart/form-data" class="easyui-form" method="post" data-options="novalidate:true">
    <table class="table_base">
        <colgroup>
            <col style="width:80px;" />
        </colgroup>
        <tbody>

            <tr>
                <th>分类</th>
                <td>
                    <input name="code" value="@obj.code" class="easyui-combobox"
                           data-options="width:'200px',required:true,editable:!parent.dictionaryType,
                                        valueField: 'code',
                                        textField: 'code',
                                        value: parent.dictionaryType || '@obj.code',
                                        url: parent.dictionaryType? '' : '@Url.Content("~/")LuTuTravel/dictionary/GetDictionaryType'">
                </td>
            </tr>
            <tr>
                <th>名称</th>
                <td>
                    <input name="name" value="@obj.name" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>值</th>
                <td>
                    <input name="value" value="@obj.value" class="easyui-textbox" data-options="width:'200px',required:false">
                </td>
            </tr>
            <tr>
                <th>排序</th>
                <td>
                    <input name="sort" value="@obj.sort" class="easyui-textbox" data-options="width:'200px',required:true">
                </td>
            </tr>
            <tr>
                <th>字段描述</th>
                <td>
                    <input name="description" value="@obj.description" class="easyui-textbox" data-options="width:'200px',required:false">
                </td>
            </tr>
            <tr>
                <th>上传图片</th>
                <td>
                    <div>
                        <img onclick="DeleteFileToServer(theEntity.Id,'dicimages',$(this).attr('src'))" class="deleteImg" onclick="DeleteFileToServer(theEntity.Id,'images',$(this).attr('src'))" style="width:120px;height:90px;display:none" />
                        @{
                            foreach (var item in ImagesDatas1)
                            {
                                <img onclick="DeleteFileToServer(theEntity.Id,'dicimages',$(this).attr('src'))" class="deleteImg" onclick="DeleteFileToServer(theEntity.Id,'images',$(this).attr('src'))" style="width:120px;height:90px" src="@item.ImageUrl" />
                            }
                        }
                    </div>
                    <input id="dicimages" type="hidden" name="images" value="@obj.images">
                    <a id="openUploadForm" onclick="openUploadForm(theEntity.Id,'dicimages','0')" class="easyui-linkbutton" data-options="iconCls:'icon-add'">打开文件上传窗口</a>
                </td>
            </tr>
            <tr>
                <th>数据是否有效(0:无效;1:有效)</th>
                <td>
                    <input name="enable_flag" value="@(obj.enable_flag?? "1")" class="easyui-numberbox" data-options="width:'200px',required:true,min:0,max:1">
                </td>
            </tr>
        </tbody>
    </table>
</form>
@section foottoolbar{
    <a id="saveForm" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
}
<script>
    var rootUrl = '@Url.Content("~/")';
    var theEntity = @objStr;

    $(function () {

        $('#saveForm').click(function () {
            if (!$('#dataForm').form('enableValidation').form('validate'))
                return;

            var formValues = $('#dataForm').getValues();
            $.extend(theEntity, formValues);
            $.postJSON(rootUrl + 'LuTuTravel/dictionary/SaveData', theEntity, function (resJson) {
                if (resJson.Success) {
                    parent.dialogMsg('保存成功!');
                    parent.$('#dataTable').datagrid('clearChecked').datagrid('reload');
                    parent.dialogClose('form');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    });
</script>
