@using Coldairarrow.Entity.LuTuTravel;
@using Coldairarrow.Util;
@using Coldairarrow.Business.LuTuTravel

@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";

    var obj = (productTagModel)Model;
    var objStr = Html.Raw(obj.ToJson());
}

<form id="dataForm" enctype="multipart/form-data" class="easyui-form" method="post" data-options="novalidate:true">
    <table class="table_base">
        <colgroup>
            <col style="width:80px;" />
        </colgroup>
        <tbody>
            <tr>
                <th>产品类型</th>
                <td>
                    <input name="product_type_id" value="@obj.product_type_id" class="easyui-combobox"
                           data-options="width:'50%',required:true,editable:false,
                                        valueField: 'id',
                                        textField: 'title',
                                        url: '@Url.Content("~/")LuTuTravel/Product/GetProductType'">
                </td>
            </tr>
            <tr>
                <th>城市标签</th>
                <td>
                    <input name="parent_id" value="@obj.parent_id" class="easyui-combobox"
                           data-options="width:'50%',required:true,
                                        valueField: 'id',
                                        textField: 'tagname',
                                        url: '@Url.Content("~/")LuTuTravel/product_tag/GetpanentTagname'">
                </td>
            </tr>
            <tr>
                <th>城市</th>
                <td>
                    <input id="area_code" name="area_code" class="easyui-combotree"
                           data-options="width: '50%', required: false,
                                        state: 'closed',
                                        url: '@Url.Content("~/")LuTuTravel/Product/GetAreaList',
                                        onLoadSuccess:function(){
                                            $('#area_code').combotree('setValue', {	                                            id: '@obj.area_code',	                                            text: '@obj.areaName'                                            });
                                        }">
                </td>
            </tr>
            <tr>
                <th>标签logo</th>
                <td>
                    <input id="hiddenImages" type="hidden" name="img_url" value="@obj.img_url">

                    <input style="display:none" id="file1" type="file" accept="*">
                    <input id="file-display1" class="easyui-textbox" data-options="width:'200px',required:false,editable:false">
                    <label for="file1" class="easyui-linkbutton" data-options="iconCls:'icon-add'">选择文件</label>
                    <a id="aUploadFile1" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-save'">上传</a>
                </td>
            </tr>
        </tbody>
    </table>
</form>

@section foottoolbar{
    <a id="saveForm" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
}

<script>
    var rootUrl = '@Url.Content("~/")';
    var theEntity = @objStr;

    $(function () {
        //上传产品图片
        document.getElementById('file1').onchange = function () {
            $('#file1').getFileBase64(function (base64, fileName) {
                $('#file-display1').textbox('setValue', fileName);
            });
        };
        $('#aUploadFile1').click(function () {
            if (!theEntity.id) {
                dialogError('请先录入产品其他信息，最后上传图片');
                return;
            }
            if (!$('#file-display1').textbox('getValue')) {
                dialogError('请选择图片');
                return;
            }
            loading();
            $('#file1').getFileBase64(function (base64, fileName) {
                $.postJSON(rootUrl + 'LuTuTravel/product_tag/UploadFileToServer', { id: theEntity.id, fileName: fileName, fileBase64: base64 }, function (resJson) {
                    loading(false);
                    if (resJson.Success) {
                        $('#hiddenImages').val(resJson.Data.toString());
                        parent.dialogMsg('上传成功!');
                    }
                    else {
                        dialogError(resJson.Msg);
                    }
                });
            });
        });

        $('#saveForm').click(function () {
            if (!$('#dataForm').form('enableValidation').form('validate'))
                return;
            debugger;
            var formValues = $('#dataForm').getValues();
            $.extend(theEntity, formValues);
            $.postJSON(rootUrl + 'LuTuTravel/product_tag/SaveData', theEntity, function (resJson) {
                if (resJson.Success) {
                    parent.dialogMsg('保存成功!');
                    parent.$('#dataTable').datagrid('clearChecked').datagrid('reload');
                    parent.dialogClose('form');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    });
</script>
