@using Coldairarrow.Entity.LuTuTravel;
@using Coldairarrow.Util;
@using Coldairarrow.Business.LuTuTravel

@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
    var ImagesDatas1 = (List<ImagesData>)(ViewData["ImagesDatas1"]);

    var obj = (productTagModel)Model;
    var objStr = Html.Raw(obj.ToJson());
}

<form id="dataForm" enctype="multipart/form-data" class="easyui-form" method="post" data-options="novalidate:true">
    <table class="table_base">
        <colgroup>
            <col style="width:80px;" />
        </colgroup>
        <tbody>
            <tr>
                <th>产品类型</th>
                <td>
                    <input name="product_type_id" value="@obj.product_type_id" class="easyui-combobox"
                           data-options="width:'50%',required:true,editable:false,
                                        valueField: 'id',
                                        textField: 'title',
                                        url: '@Url.Content("~/")LuTuTravel/Product/GetProductType'">
                </td>
            </tr>
            <tr>
                <th>城市标签</th>
                <td>
                    <input name="parent_id" value="@obj.parent_id" class="easyui-combobox"
                           data-options="width:'50%',required:true,
                                        valueField: 'id',
                                        textField: 'tagname',
                                        url: '@Url.Content("~/")LuTuTravel/product_tag/GetpanentTagname',
                                        onSelect:function(rec){
                                             $('input[name=tagname]').val(rec.tagname);
                                         }">
                    <input type="hidden" name="tagname" value="@obj.tagname"/>
                </td>
            </tr>
            <tr>
                <th>城市</th>
                <td>
                    <input id="area_code" name="area_code" value="@obj.area_code" class="easyui-combobox"
                           data-options="width:'50%',required:true,editable:true,
                                        valueField: 'code',
                                        textField: 'name',
                                        url: '@Url.Content("~/")LuTuTravel/area/GetAreaDataList'">
                </td>
            </tr>
            <tr>
                <th>标签logo</th>
                <td>
                    <div>
                        <img style="width:120px;height:90px;display:none" />
                        @{
                            foreach (var item in ImagesDatas1)
                            {
                                <img style="width:120px;height:90px;" src="@item.ImageUrl" />
                            }
                        }
                    </div>
                    <input id="img_url" type="hidden" name="img_url" value="@obj.img_url">
                    <a id="openUploadForm" onclick="openUploadForm(theEntity.Id,'img_url','0')" class="easyui-linkbutton" data-options="iconCls:'icon-add'">打开文件上传窗口</a>
                </td>
            </tr>
        </tbody>
    </table>
</form>

@section foottoolbar{
    <a id="saveForm" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
}

<script>
    var rootUrl = '@Url.Content("~/")';
    var theEntity = @objStr;

    $(function () {
        $('#saveForm').click(function () {
            if (!$('#dataForm').form('enableValidation').form('validate'))
                return;

            var noSelect = $('#area_code').combobox('getValue') == $('#area_code').combobox('getText');
            if (noSelect) {
                dialogError('请选择所属区域');
                return;
            }
            var formValues = $('#dataForm').getValues();
            $.extend(theEntity, formValues);
            $.postJSON(rootUrl + 'LuTuTravel/product_tag/SaveData', theEntity, function (resJson) {
                if (resJson.Success) {
                    parent.dialogMsg('保存成功!');
                    parent.$('#dataTable').datagrid('clearChecked').datagrid('reload');
                    parent.dialogClose('form');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    });
</script>
